@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* header style */
header {
    margin: 52px 135px 50px 135px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-title .vacations {
    color: #FF5400;
}

.nav-title img {
    width: 60px;
    height: 55.008px;
    margin-right: 16px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

nav ul .home {
    color: #FF5400;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.myLinks li {
    position: relative;
    left: 400px;
}

#menu-bar {
    display: none;
}

/* main style */


.section-one {
    margin: 52px 135px 50px 135px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-one-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-one-content p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.input {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
}

.input {
    padding: 16px;
}

.input input {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    margin-right: 24px;
    margin-left: 24px;
    border: none;
    padding-left: 16px;

}


.form-input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 24px;
    padding-left: 16px;
}

.section-one-content button {
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

/* section two */
.section-two {
    display: flex;
    margin: 100px 135px 100px 135px;
    justify-content: space-between;
}

.section-two-content {
    padding: 20px;
}

.section-two-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-two-content .section-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.section-two-content ul li {
    margin-left: 22px;
}

.btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}

/* section three */
.section-three {
    margin: 100px 135px 100px 135px;
}

.section-three-content {
    text-align: center;
}

.section-three-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-three-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.image-one {
    grid-area: image-one;
}

.image-two {
    grid-area: image-two;
}

.image-three {
    grid-area: image-three;
}

.image-four {
    grid-area: image-four;
}

.image-five {
    grid-area: image-five;
}

.image-six {
    grid-area: image-six;
}

.image-seven {
    grid-area: image-seven;
}

.grid-container {
    display: grid;
    gap: 0;
    grid-template-areas:
        'image-one image-one image-two image-two'
        'image-three image-four image-four image-five'
        'image-six image-seven image-seven image-seven';
}

.grid-container div {
    margin-bottom: 24px;
}

.image-one img {
    width: 85%;
}

.image-two img {
    width: 100%;
}

.image-three img {
    width: 90%;
}

.image-four img {
    width: 90%;
}

.image-five img {
    width: 100%;
}

.image-six img {
    width: 100%;
}

.image-seven img {
    width: 100%;
    height: 74%;
    padding-left: 24px;
}

/* section four */
.section-four {
    margin: 100px 135px 100px 135px;
}

.section-four h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-four p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.card-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
}

.card-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
}

.card-three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
}

.card {
    padding: 30px 0 30px 30px;
}

.card h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 16px;
}

.card>p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.card img {
    width: 64px;
    height: 64px;
    padding-bottom: 32px;
}

.section-four-card {
    display: grid;
    margin-bottom: 24px;
    gap: 24px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.card-three {
    position: relative;
    left: 500px;
}





/* Style for mobile or small device */
@media screen and (max-width:600px) {

    body {
        margin: 0;
    }

    /* header style */

    header nav {
        position: relative;
        right: 100px;
    }

    header .nav-title h1 {
        color: #131318;
        font-size: 20.543px;
        font-weight: 800;
    }

    .myLinks li {
        position: relative;
        left: 180px;
    }

    #myLinks {
        display: none;
        position: absolute;
        margin: 0;
    }

    #menu-bar {
        display: block;
    }

    #menu-bar i {
        position: relative;
        left: 150px;
    }

    .nav-title img {
        width: 28.724px;
        height: 33.516px;
        margin-right: 9px;
    }

    .nav-title h1 {
        font-size: 21.543px;
        font-weight: 800;
    }

    main {
        margin-left: 20px;
        margin: 0;

    }

    .section-one {
        width: 335px;
        height: 483px;
        margin-left: 25px;
    }

    .section-one-form,
    .section-two {
        flex-direction: column;
    }

    .section-one-content h1 {
        font-size: 22px;
        font-weight: 800;
    }

    .section-one-content p {
        font-size: 14px;
        font-weight: 400;
    }

    .input {
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;
        justify-content: center;
        align-items: center;
    }

    .form-input {
        margin-left: 24px;
        margin-top: 16px;
    }

    /* section two style */
    .section-two {
        width: 335px;
        height: 483px;
        margin: 25px;
    }

    .section-two-title {
        font-size: 20px;
        font-weight: 800;
    }

    .section-two-image img {
        width: 335px;
        height: 342px;
    }

    /* section three */
    .section-three {
        position: relative;
        top: 700px;
        margin: 0;
    }

    .section-three-content h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .section-three-content p {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 33px;
        padding-right: 33px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-container>div>img {
        width: 335px;
        height: 176px;
    }

    .image-seven img {
        padding-left: 0;
    }

    /* section four style */
    .section-four {
        position: relative;
        top: 700px;
        margin: 10px;
    }

    .section-four h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .section-four p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .section-four-card {
        
    }

    .card-one {
        width: 335px;
        height: 289px;
    }

    .card-two {
        width: 335px;
        height: 289px;
    }

    .card-three {
        width: 335px;
        height: 289px;
    }

    .section-four-card {
        display: flex;
        flex-direction: column;
    }

    .card-three {
        position: static;
    }
}